*{
    margin: 0;
    padding: 0;
    font-family: 'Pangolin', cursive;
}

:root{
    --light-blue: #25CED1;
    --dark-blue: #0B4F6C;
    --light-violet: #9b25d1;
    --dark-violet: #330847;

}

body{
    background-color: var(--light-blue);
    
}
.container{
    width: 60vw;
    max-width: 400px;
    height: 70vh;
    margin: auto;
    margin-top: 10vh;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;

}

.info{
    padding-top: 10vh;
    height: 10vh;
    width: 100%;
    text-align: center;
    
}

.question{
    height: 10vh;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}


.questionQ{
    font-size: 20px;
    padding-top: 2px;
}

.hide{
    display: none !important;
}
.buttons{
    text-align: center;
    margin-top: 1vh;

}
.next{
    height: 6vh;
    min-height: 20px;
    min-width: 70px;
    width: 6vw;
    border-radius: 15%;
    font-size: 15px;
    background-color: var(--light-violet);
    color: whitesmoke;
    font-weight: bold;
    border: none;
}
.next:hover{
    background-color: var(--dark-violet);
}
.start{
    height: 50px;
    width: 100px;
    border-radius: 15%;
    font-size: 15px;
    background-color:  var(--light-blue);
    color: whitesmoke;
    font-weight: bold;
    border: none;
}

.start:hover{
    background-color: var(--dark-blue);
}


.answers{
    margin:auto;
    height: 50%;
    width: 70%;
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 2px;
    row-gap: 2px;
    align-items: center;
}

.answer{
    margin: auto;
    height: 8vh;
    width: 6vw;
    min-width: 91.2px;
    min-height: 25px;
    font-size: 13px;
    background-color: var(--light-blue);
    color: whitesmoke;
    font-weight: bold;
    border-radius: 15%;
    border: none;
}

.answer:hover{
    background-color: var(--dark-blue)
}

@media (max-width: 410px){
    .answers{
        grid-template-columns: repeat(1,auto);
    }

    .questionQ{
        font-size: 15px;
    }
}

@media (max-height: 540px){
    .questionQ{
        font-size: 15px;
    }

}